@mixin flex-for-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-separate-column {
    @include flex-for-column;
    justify-content: space-between;
    padding: $huge-space 0;
}

@mixin row {
    display: flex;
    flex-wrap: wrap;
}

@mixin col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
}