@font-face{
    font-family: "Roboto";
    src: url(./Roboto.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "RobotoSlab";
    src: url(./RobotoSlab.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "RobotoBold";
    src: url(./Roboto-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}